<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55167924775-3rabl8squ1og7o997smkaqpi85hdvql9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55167924775-3rabl8squ1og7o997smkaqpi85hdvql9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>55167924775-d6dlbv5k5pifgftfhr3snfg0djd7ih9k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfAHTvMrR2DUG2mBhN4WRHD9Dz-g8HybE</string>
	<key>GCM_SENDER_ID</key>
	<string>55167924775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.proofv1</string>
	<key>PROJECT_ID</key>
	<string>proofbe-48949</string>
	<key>STORAGE_BUCKET</key>
	<string>proofbe-48949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55167924775:ios:2d890f265fb134dc3b6c02</string>
</dict>
</plist>